<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="style.css" />
    <title>Amazon FS</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <div>
                <a class="brand" href="index.html">Amazon FS</a>
            </div>
            <div class="menu">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Shirt</li>
                <li>Laptop</li>
                <li>Play Station</li>
                <li>Microwave</li>
            </ul>
        </main>
        <footer>Designed by Olakunle</footer>
    </div>
</body>
</html>